@charset "UTF-8";
:root {
  /* Colores */
  --color-primario:black;
  --color-secundario:#f0f0f0;
  /* Tipografía */
  --tipo-principal: helvetica, arial, sans-serif;
  --tipo-secundaria: verdana;
}

/* Adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --color-primario:#f0f0f0;
    --color-secundario:black;
  }
}

/* Modo alto contraste */
@media (prefers-contraste: high) {
  :root {
    --color-primario:black;
    --color-secundario:white;
  }
}

/* Sin animaciones si el usuario activó esa opción */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none;
            animation: none;
    -webkit-transition: none;
    transition: none;
  }
}

/* Reset Margins y Paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitar problemas con la imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

/* resteo para enlaces que funcionen como caja... */
a {
  display: block;
}

/* ...excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos todos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto en las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelemntos de quotes */
blockquote::before, blockquote::after, q:before, q:after {
  content: '';
  content: none;
}

/* configuramos el texto que selccionamos */
::-moz-selection {
  background-color: var(--color-primario);
  color: var(--color-secundario);
}
::selection {
  background-color: var(--color-primario);
  color: var(--color-secundario);
}

/* nivelamos probelmas de tipografias y colocacion de formularios */
form, imput, textarea, select, button, label, input, select {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitar problemas con los svg */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografia de toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: #dad5b7;
  background-color: #243757;
  /* line-height:1.4em;
    hyphens: auto;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

/* .color1 { #243757 };
.color2 { #3a5f6f };
.color3 { #dad5b7 };
.color4 { #c2b79b };
.color5 { #665e52 }; */
.header {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  /*   border-radius: 16px; */
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  padding: 1em;
  color: white;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_h1 {
  width: 10em;
}

.headerimg {
  width: 2em;
}

.header_button {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .header_button {
    display: block;
  }
}

.header_svg {
  width: 2em;
  height: 2em;
  fill: white;
}

@media screen and (max-width: 480px) {
  .header_nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    height: 0vh;
    overflow: hidden;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .header_nav--activo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    height: 50vh;
  }
}

.header_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .header_ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header_li {
  text-shadow: #000000;
  margin: 0.5em;
}

@media screen and (max-width: 480px) {
  .header_li {
    margin: 0.3em 0;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .portada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75vh;
}

.main .portada .main__portada {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  display: block;
}

.main .portada #reserva__portada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background: rgba(240, 240, 240, 0.5);
  color: #000000;
  top: 50%;
  left: 50%;
  padding: 15px;
  border: #282828 solid 1px;
  border-radius: 1em;
  font-size: 2em;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.main .portada #reserva__portada:hover {
  background-color: #000000;
  color: #f0f0f0;
}

.main_h1 {
  font-family: var(--tipo-principal);
  font-size: 1.5em;
  padding: 1em;
  font-weight: 700;
  text-align: center;
}

.main_p {
  font-family: var(--tipo-secundaria);
  font-size: 1em;
  font-weight: 300;
  margin: 0 0.5em;
  text-align: justify;
}

.main .h2 {
  font-family: var(--tipo-secundaria);
  font-size: 1.5em;
  padding: 1em;
  font-weight: 700;
  text-align: center;
}

.main .container {
  width: 100%;
}

.main .container .galeria {
  width: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

@media screen and (max-width: 480px) {
  .main .container .galeria {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 0.3em;
  }
}

.main .container .galeria .imagen {
  height: auto;
}

.main .container_servicios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1fr;
  color: black;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .main .container_servicios {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 0.3em;
  }
}

.main .container_servicios .card {
  margin: 0 4em;
}

.main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  gap: 1em;
}

.main form .formInactivo {
  display: none;
}

.main form #nombre {
  text-align: center;
  border-radius: 50px;
  background: #243757;
  -webkit-box-shadow: 20px 20px 60px #1c2a43, -20px -20px 60px #2c446b;
          box-shadow: 20px 20px 60px #1c2a43, -20px -20px 60px #2c446b;
}

.main form #habitaciones_lista {
  border-radius: 50px;
  background: #243757;
  -webkit-box-shadow: 20px 20px 60px #1c2a43, -20px -20px 60px #2c446b;
          box-shadow: 20px 20px 60px #1c2a43, -20px -20px 60px #2c446b;
}

.main form option {
  text-align: center;
  border-radius: 50px;
  background: #243757;
  -webkit-box-shadow: 20px 20px 60px #1c2a43, -20px -20px 60px #2c446b;
          box-shadow: 20px 20px 60px #1c2a43, -20px -20px 60px #2c446b;
}

.main form #noches {
  text-align: center;
  border-radius: 50px;
  background: #243757;
  -webkit-box-shadow: 20px 20px 60px #1c2a43, -20px -20px 60px #2c446b;
          box-shadow: 20px 20px 60px #1c2a43, -20px -20px 60px #2c446b;
}

.main form #email {
  text-align: center;
  border-radius: 50px;
  background: #243757;
  -webkit-box-shadow: 20px 20px 60px #1c2a43, -20px -20px 60px #2c446b;
          box-shadow: 20px 20px 60px #1c2a43, -20px -20px 60px #2c446b;
}

.main form #botonReserva {
  margin: auto;
  width: 8em;
  height: 2em;
  border-radius: 50px;
  background: #374d72;
  -webkit-box-shadow: 20px 20px 60px #1c2a43, -20px -20px 60px #2c446b;
          box-shadow: 20px 20px 60px #1c2a43, -20px -20px 60px #2c446b;
}
