@import '_mixin';

:root{
    /* Colores */
    --color-primario:black;
    --color-secundario:#f0f0f0;

    /* Tipografía */
    --tipo-principal: helvetica, arial, sans-serif;
    --tipo-secundaria: verdana;
}

/* Adaptamos al modo oscuro */

@media (prefers-color-scheme: dark) {
    :root{
        --color-primario:#f0f0f0;
        --color-secundario:black;
    }
}

/* Modo alto contraste */
@media (prefers-contraste: high) {
    :root{
        --color-primario:black;
        --color-secundario:white;
    }
}

/* Sin animaciones si el usuario activó esa opción */
@media (prefers-reduced-motion: reduce) {
    *{
        animation: none;
        transition: none;
    }
}

/* Reset Margins y Paddings de todas las etiquetas */
*{
    margin:0;
    padding:0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
/* Evitar problemas con la imagenes */
img, picture, video, iframe, figure{
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}
/* resteo para enlaces que funcionen como caja... */
a{
    display: block;
}
/* ...excepto los que se encuentran en párrafos */
p a{
    display: inline;
}
/* Quitamos todos los puntos de los <li> */
li{
    list-style-type: none;
}
/* Configuramos anclas suaves */
html{
    scroll-behavior: smooth;
}
/* Desactivamos estilos por defecto en las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em{
   font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit; 
}
/* Evitamos problemas con los pseudoelemntos de quotes */
blockquote::before, blockquote::after, q:before, q:after{
    content: '';
    content: none;
}
/* configuramos el texto que selccionamos */
::selection{
    background-color: var(--color-primario);
    color: var(--color-secundario);
}
/* nivelamos probelmas de tipografias y colocacion de formularios */
form, imput, textarea, select, button, label, input, select{
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    display: block;
    color: inherit;
}
/* Reseteamos las tablas */
table, tr, td{
    border-collapse: collapse;
    border-spacing: 0;
}
/* Evitar problemas con los svg */
svg{
    width: 100%;
    display: block;
    fill: currentColor;
}
/* Configuramos la tipografia de toda la web */
body{
    min-height: 100vh;
    font-size: 100%;
    font-family: var(--tipo-principal);
    color: #dad5b7 ;
    background-color: #243757;
    /* line-height:1.4em;
    hyphens: auto;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}


/* .color1 { #243757 };
.color2 { #3a5f6f };
.color3 { #dad5b7 };
.color4 { #c2b79b };
.color5 { #665e52 }; */

.header{
    position: fixed;
    width: 100%;
    background: rgba(0,0,0, 0.1);
  /*   border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    padding: 1em;
    color: white;
    
    z-index: 1;

    @include flex (row, wrap, space-between, center);

    &_h1{
        width: 10em;

    }
    &img{
        width: 2em;
    }

    &_button{

        display: none;

        @include media (){
            display: block;
        }
        cursor: pointer;
    }
    &_svg{
        width: 2em;
        height: 2em;
        fill: white;

    }

    &_nav{
     

        @include media(){
            width: 100%;           
            @include flex (column, nowrap, center, center);
            opacity: 0;
            height: 0vh;
            overflow: hidden;
            transition: all .5s ease;
            

            &--activo{
                display: flex;
                opacity: 1;
                height: 50vh;

            }
        }
}
    &_ul{
        @include flex (row, nowrap, flex-end, center);

        @include media(){
            flex-direction: column;
        }
        
    }
    &_li{
        text-shadow: #000000;
        margin: 0.5em;
        @include media (){
            margin: 0.3em 0;
        }
    }
}

.main{
    @include flex (column, nowrap, center, center);
    & .portada{
        display: flex;
        height: 75vh;
        & .main__portada{
            width: 100%;
            object-fit: cover;
            object-position: center center;
            display: block;            
        }
        & #reserva__portada{
            display: flex;
            position: absolute;
            background: rgba($color: #f0f0f0, $alpha: .5);
            color: #000000;
            top: 50%;
            left: 50%;
            padding: 15px;
            border: #282828 solid 1px;
            border-radius: 1em;
            font-size: 2em;
            transition: all ease 0.3s;
            &:hover{
                background-color: #000000;
                color: #f0f0f0;
            }
            
            
            
        }
    }
  
    &_h1{
        font-family: var(--tipo-principal);
        font-size: 1.5em;
        padding: 1em;
        font-weight: 700;
        text-align: center;
    }
    &_p{
        font-family: var(--tipo-secundaria);
        font-size: 1em;
        font-weight: 300;
        margin: 0 0.5em;
        text-align: justify
    }
    & .h2{
        font-family: var(--tipo-secundaria);
        font-size: 1.5em;
        padding: 1em;
        font-weight: 700;
        text-align: center;
    
    }
    & .container{
        width: 100%;
        
        & .galeria{
            width: 100%;
            margin: auto;
            @include grid (3, 1em);

            & .imagen{
                height: auto;
                }
            }
        }
        & .container_servicios{ 
            @include grid (3, 1fr);
            color: black;
            text-align: center;
                & .card{
                margin: 0 4em;
                }
                & img{
                    
                }
                & .card__body{
                    
                    
                }
                    & .card__text{
                    
                        
                }
        }
    & form{
        display: flex;
        flex-direction: column;

        width: 90%;
        gap: 1em;

        & .formInactivo{
            display: none;
        }
        & #nombre{

            text-align: center;
           border-radius: 50px;
            background: #243757;
            box-shadow:  20px 20px 60px #1c2a43,
             -20px -20px 60px #2c446b;
        }
        & #habitaciones_lista{
           border-radius: 50px;
            background: #243757;
            box-shadow:  20px 20px 60px #1c2a43,
             -20px -20px 60px #2c446b;

        }
            & option{
                text-align: center;
               border-radius: 50px;
                background: #243757;
                box-shadow:  20px 20px 60px #1c2a43,
             -20px -20px 60px #2c446b;

            }
        & #noches{
            text-align: center;
           border-radius: 50px;
            background: #243757;
            box-shadow:  20px 20px 60px #1c2a43,
             -20px -20px 60px #2c446b;

        }
        & #email{
            text-align: center;
           border-radius: 50px;
            background: #243757;
            box-shadow:  20px 20px 60px #1c2a43,
             -20px -20px 60px #2c446b;

        }
        & #botonReserva{
            margin: auto;
            width: 8em;
            height: 2em;
            border-radius: 50px;
            background: #374d72;
            box-shadow:  20px 20px 60px #1c2a43,
                         -20px -20px 60px #2c446b;
        }

    }
}
    
    
